@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 70%;
  }
}


@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
}

.nav:hover li {
  transform: translateY(-100%);

}

.nav li {
  transform: translateY(0);
  transition: all ease 0.5s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  width: calc(250px * 14);
}

@media screen and(max-width: 600px) {
  .slider .slide-track {
    width: calc(10% * 14);
  }
}

.slider .slide {
  height: 170px;
  width: 250px;
}

.nav::after {
  content: var(--after-content);
  color: white;
}

.animate {
  animation: .5s animate linear forwards;
}

@keyframes animate {
  0% {
    transform: translateY(0%) scale(1);
  }

  100% {
    transform: translateY(150%) scale(0);
  }
}

.button {
  border-style: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
  border-radius: 2rem;
  position: relative;
  z-index: 2;
}

.button span {
  z-index: 10;
}

.button::before {
  content: '';
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 4s linear infinite;
}

.button::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  z-index: -1;
  inset: 1px;
  height: calc(100% - 2 * 1px);
  width: calc(100% - 2 * 1px);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

@keyframes scaleDown {
  0% {
    transform: translateY(0%) scale(1);
  }

  100% {
    transform: translateY(50%) scale(0.5);
  }
}

.animate-scale {
  animation: .5s scaleDown linear forwards;
}

.aboutTag:hover :last-child {
  color: black;
}