@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.star:hover svg path {
  fill: #F1C02A;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 70%;
  }
}


@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
}

.nav:hover li {
  transform: translateY(-100%);

}

.nav li {
  transform: translateY(0);
  transition: all ease 0.5s;
}

.nav::after {
  content: var(--after-content);
  color: white;
}